.view-decks {
   margin-bottom: 50px;
    padding: 5px 25px;
    color: var(--pri-text-color);
}

.view-decks h2 {
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid var(--pri-color);
    color: var(--pri-color);
    background-color: var(--sec-color);
    border-radius: 5px;

}
.view-decks ul li {
    font-size: 1.3em;
    line-height: 1.5em;
    list-style: none;
}
