.create-card {
   margin-bottom: 50px;
   padding: 5px 25px;
   color: var(--pri-text-color);
   width: 500px;
}

.create-card h2 {
   margin-bottom: 25px;
   font-weight: bold;
   padding: 5px;
   border: 2px solid var(--pri-color);
   color: var(--sec-color);
   background-color: var(--pri-color);
   border-radius: 5px;
}

.create-card h4 {
  font-size: 1.7em;
}

.create-card .card-actions {
   margin-top: 5px;
   font-size: 1.5em;
text-align: center;
}


.create-card input[type='text'] {
   margin-top: 10px;
   font-size: .8em;
   padding: 5px 10px;
   width: 100%;
   color: var(--pri-color);
   border: 3px solid var(--pri-color);
   border-radius: 7px;

}

.create-card input[type='text']:focus {
   background-color: var(--sec-color);
   box-shadow: inset 1px 1px 12px #333333;
   color: var(--pri-color);
}

.create-card input[type='submit'] {
   font-size: .7em;
   margin-top: 20px;
   width: 100px;
   color: var(--pri-color);
   background-color: var(--sec-color);
   border: 2px solid var(--pri-color);
   padding: 3px;
   border-radius: 15px;

}

.create-card input[type='submit']:hover{
   font-weight: bold;
}

.create-card .button-save {
   text-align: center;
}