* {
    margin: 0;
    padding: 0;
    font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

:root {
   --main-bg-color: #666666;
   --pri-color: #652c90;
   --sec-color: #cab7da;
   --pri-text-color: #ffffff;
   --sec-text-color: #cccccc;
   --box-shadow-color: #333333;
}

body {
    background-color: var(--main-bg-color);
}

p {
   padding-left: 25px;
   color: var(--sec-text-color);
   font-size: 1.4em;
   line-height: 1.5em;
}
#contents {
   margin-top: 100px;
}